.content{
    padding-top: 10px;
}

.content[_ngcontent-ng-c3408209305] {
    padding-top: 10px;
    width: min-content;
}

.row{
    display: flex;
    gap: 10px;
}
.mat-mdc-dialog-actions {
    justify-content: center;
}

.mat-form-field {
    width: 100%;
}

.actions{
    padding: 0px 25px 20px;
    button{
        flex: 1;
    }
}