<div mat-dialog-title> 
    <h1>Enter New Employee Details</h1>
  </div>
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Id</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]="dataList.empId" [disabled]="true">
      </mat-form-field>    
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter Name" [(ngModel)]="dataList.empName">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Enter Address" [(ngModel)]="dataList.empAddress">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Number</mat-label>
            <input matInput placeholder="Enter Mobile Number" [(ngModel)]="dataList.empMNumber" maxlength="10">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Number</mat-label>
            <input matInput placeholder="Enter EPF Number" [(ngModel)]="dataList.empEPFNumber">
          </mat-form-field>

          <!-- <div style="font-size: 9px">
          <mat-form-field appearance="outline">
            <mat-label>Your name</mat-label>
            <input matInput placeholder="Jane Doe">
          </mat-form-field> -->
        <!-- </div> -->
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="closeAddForm()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
  